/* About-Me Section */

.text-hidden{
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateY(15px);
    transition: 1s all ease-in;
  }
  
  .text-hidden-from-below{
    margin-left: auto;
    margin-right: auto;
    opacity: 0;
    transform: translateY(-15px);
    transition: 1s all ease-in;
  }
  
  .text-active{
    opacity: 1;
    transform: none;
  }
  
  .welcome-inline{
    display: inline-block;
    margin: auto;
  }
  
  .welcome-img-hidden{
    object-fit: cover;
    width: 350px;
    height: 350px;
    padding: 25px;
    transform: translateX(-100vw);
    transition: all ease-out;
    transition-duration: 1.5s;
  }
  
  .welcome-img-inter{
    transform: translateX(.5vw)
  }
  
  .welcome-img-active{
    transition-duration: .5s;
    transform: none;
  }
  
  .welcome-img-top{
    object-position: 0 0;
  }
  
  .welcome-img-active:hover{
    opacity: 0.5;
    transition: all .5s ease-in-out;
    transform: scale(1.02);
    cursor: pointer;
  }
  