/* Architecture Section */

.architecture-img-large-hidden{
  object-fit: cover;
  width: 100%;
  height: 30vw;
  padding: 5px;
  transform: translateX(100vw);
  transition: all ease-out;
  transition-duration: 1.5s;
}

.architecture-img-large-inter{
  transform: translateX(-.5vw)
}

.architecture-img-large-active{
  transition-duration: .5s;
  transform: none;
}

.architecture-img-large-active:hover{
  opacity: 0.5;
  transition: all 0.5s ease-in;
  transform: scale(1.01);
}

.architecture-row-small{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.architecture-img-small-hidden{
  object-fit: cover;
  width: 20%;
  height: 10vw;
  padding: 5px;
  transform: translateX(100vw);
  transition: all ease-out;
  transition-duration: 1.5s;
}

.architecture-img-small-inter{
  transform: translateX(-.5vw)
}

.architecture-img-small-active{
  transition-duration: .5s;
  transform: none;
}

.architecture-img-small-active:hover{
  opacity: 0.5;
  transition: all 0.5s ease-in;
  transform: scale(1.02);
  cursor: pointer;
}