
/* Contact Me */

.contact-me{
  opacity: 0;
}

.icon-map{
  width: 4vw;
  height: 4vw;
}

.icon-phone{
  width: 4vw;
  height: 4vw;
}

.icon-envelope{
  width: 4vw;
  height: 4vw;
}

.md-form-control {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  font-size: 14px;
  width: 100%
}

input[type=text]:focus{
  outline: 1px solid white;
}

input[type=email]:focus{
  outline: 1px solid white;
}

textarea[type=text]:focus{
  outline: 1px solid white;
}

.height-36{
  height: 36px;
}

.height-72{
  height: 72px;
}

.btn-primary{
  border: 1px solid #9e9e9e;
}

.btn-primary:hover{
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
}

.btn-primary:focus{
  background-color: #3e3e3e !important;
  border: 1px solid #9e9e9e !important;
  outline: none;
  box-shadow: none !important;
}

.btn-primary:active{
  background-color: #9e9e9e !important;
  border: 1px solid #9e9e9e !important;
  outline: none;
  box-shadow: none !important;
}

.contact-info-text{
  font-size: 80%;
  line-height: 110%;
}