
/* Hobbies Section */

.hobbies-img-hidden{
  object-fit: cover;
  height: 95%;
  width: 95%;
  padding: 0px;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%); 
  transition: all 1s ease-out;
}

.hobbies-img-active{
  height: 99%;
  width: 99%;
  opacity: 1;
}

.hobbies-img-active:hover{
  opacity: 0.5;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

#hobbies-unordered-list{
  list-style: none;
  list-style-position:inside;
  list-style-type: none;
}

.hobbies-list-item-hidden{
  list-style: none;
  padding: .5vw 0vw .5vw 6vw;
  background-position: 0 0;
  background-size: 5vw;
  background-position-y: 2vw;
  background-repeat: no-repeat;
  transform: translateX(100vw);
  transition: 1.5s all ease-out;
}

.hobbies-list-item-inter{
  transform: translateX(-1vw);
}

.hobbies-list-item-active{
    transition: .5s;
    transform: none;
}

#hobbies-frisbee{
  background-image: url(../images/hobbies-section/icon1-01.png);
}

#hobbies-frisbee:hover{
  background-image: url(../images/hobbies-section/icon1-hover-01.png);
}

#hobbies-photography{
  background-image: url(../images/hobbies-section/icon2-01.png);
}

#hobbies-photography:hover{
  background-image: url(../images/hobbies-section/icon2-hover-01.png);
}

#hobbies-running{
  background-image: url(../images/hobbies-section/icon3-01.png);
}

#hobbies-running:hover{
  background-image: url(../images/hobbies-section/icon3-hover-01.png);
}

#hobbies-adventure-sports{
  background-image: url(../images/hobbies-section/icon4-01.png);
}

#hobbies-adventure-sports:hover{
  background-image: url(../images/hobbies-section/icon4-hover-01.png);
}

#hobbies-gaming{
  background-image: url(../images/hobbies-section/icon5-01.png);
}

#hobbies-gaming:hover{
  background-image: url(../images/hobbies-section/icon5-hover-01.png);
}

.hobbies-popup-splatter{
  clip-path: circle(0);
}

.hobbies-popup-splatter img{
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 1s ease-out;
  z-index: 100;
}

#hobbies-popup-splatter-01{
  top: 70%;
  left: 30%;
}

#hobbies-popup-splatter-02{
  top: 90%;
  left: 70%;
}

#hobbies-popup-splatter-03{
  top: 30%;
  left: 15%;
}

#hobbies-popup-splatter-04{
  top: 10%;
  left: 80%;
}

#hobbies-popup-splatter-05{
  top: 50%;
  left: 50%;
}

#hobbies-popup-splatter-06{
  top: 85%;
  left: 10%;
}

#hobbies-popup-splatter-07{
  top: 10%;
  left: 50%;
}

#hobbies-popup-splatter-08{
  top: 80%;
  left: 90%;
}

.hobbies-popup-black{
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  transition: all 1s ease-out;
}

.exit{
  opacity: 0;
  cursor: pointer;
  margin: 0;
  position: fixed;
  top: 4%;
  right: 4.5%;
  transform: translateY(-50%);
  z-index: 102;
  transition: all 1s ease-out;
}

.exit div{
  width: 25px;
  height: 3px;
  margin: 5px;
}

.exit-line1{
  transform: rotate(-45deg) translate(-5px, 0px);
}

.exit-line2{
  transform: rotate(45deg) translate(-5px, 0px);
}

.hobbies-popup-img{
  transform: translateY(-21vw);
  clip-path: circle(0);
  left: 5%;
  top: 50%;
  width: 90vw;
  height: 42vw;
  z-index: 102;
}

.hobbies-popup-img-line img{
  opacity: 0;
  object-fit: cover;
  width: 18vw;
  height: 13vw;
  padding: 1vw;
  transition: all 1s ease-out;
}

.hobbies-popup-img-line img:hover{
  opacity: 0.5;
  transition: all 0.5s ease-in;
  transform: scale(1.02);
}

.toggleClipPath {
  clip-path: none;
}

.hobbies-popup-splatter .toggleOpacity{
  opacity: 1;
}

.hobbies-popup-img-line .toggleOpacity{
  opacity: 1;
}
