/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

 /*
     Nav-bar
     */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #282e34;
    font-family: 'Poppins', sans-serif;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 99999;
}

h5 {
  margin-bottom: 0rem !important;
  padding: 0px 50px;
  font-size: medium;
}

.logo a{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo a:hover{
  text-decoration: none;
  color: red;
}

.nav-links{
    display: flex;
    float: right;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    margin: 0;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:10px;
    padding: 5px;
}

.nav-links a:hover{
  color: red;
  text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 1336px){
    .nav-links a{
        letter-spacing: 2px;
    }
}

@media screen and (max-width: 1024px){
    body{
        overflow-x:hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        top: 8vh;
        height: 92vh;
        background-color: #282e34;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition: transform ease-in;
        transition-duration: 0s;
    }

    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
    }
}

.nav-active{
  transform: translateX(0%);    
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

 /*
     Scroll
     */

body, html{
  height: 100%;
  margin: 0;
  font: size 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7{
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
      fixed = parallax
      scroll = normal
  */

  background-attachment: fixed;
}

.pimg1{
  background-image: url('../img/old/hubble-01.jpg');
  min-height: 100%;
}

.pimg2{
  background-image: url('../img/old/hubble-02.jpg');
  min-height: 50%;
}

.pimg3{
  background-image: url('../img/old/hubble-03.jpg');
  min-height: 50%;
}

.pimg4{
  background-image: url('../img/old/hubble-03.jpg');
  min-height: 50%;
}

.pimg5{
  background-image: url('../img/old/hubble-03.jpg');
  min-height: 50%;
}

.pimg6{
  background-image: url('../img/old/hubble-03.jpg');
  min-height: 50%;
}

.pimg7{
  background-image: url('../img/old/hubble-01.jpg');
  min-height: 100%;
}

.section{
  text-align: center;
  padding: 50px 80px;
  height: 50%;
}

.section-full{
  min-height: 100%;
}

.section-half{
  min-height: 50%;
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.welcomeImg-hidden{
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 25px;
  transform: translateX(-100vw);
  transition: all 1.5s ease-out;
}

.welcomeImg-inter{
  transform: translateX(10vw)
}

.welcomeImg-final{
  transition: all .5s ease-in-out;
  transform: translateX(-100vw)
}

.ptext{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border{
  background-color: #111;
  color: #fff;
  padding: 20px;
}

.ptext .border.trans{
  background-color: transparent;
}

@media(max-width: 568px){
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7{
      background-attachment: scroll
  }
}

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

#carousel-img1{
  background-image: url(../img/welcome-carousel/DSC_0261.JPG);
  background-attachment: fixed;
}

#carousel-img2{
  background-image: url(../img/welcome-carousel/us.jpg);
  background-attachment: fixed;
}

#carousel-img3{
  background-image: url(../img/welcome-carousel/81606594_10156523291225064_6816703669640101888_o.jpg);
  background-attachment: fixed;
}

.color-overlay-initial{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  position: absolute;
  z-index: 2;
  transition: all 1.5s ease-in-out;
}

.color-overlay{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

h1{
  position: absolute;
  text-align: center;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 100%;
  top: 40%;
  z-index: 3;
  opacity: 0;
  transition: all 2s ease-in;
  transition-delay: 1.5s;
}

header p{
  position: absolute;
  text-align: center;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  top: 55%;
  z-index: 3;
  opacity: 0;
  transition: all 2s ease-in;
  transition-delay: 2.5s;
}

.welcome-text-hidden{
  opacity: 0;
  transform: translateY(20px);
  transition: 1s all ease-in;
}

.welcome-text-appear{
  opacity: 1;
  transform: translateY(0px);
}