/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

 /*
     Global
     */


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
        overflow-x:hidden;
    }

body, html{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666
}

h4, h5{
  padding-left: 0px;
  padding-right: 0px;
}

.section-img{
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7{
  position: absolute;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: inherit;
  min-width: inherit;
}

.pimg1{
  background-image: url('../images/old/hubble-01.jpg');
}

.pimg2{
  background-image: url('../images/hobbies-front/AJH-NB-20180122-008-001-0002-JCAM02.jpg');
  background-position: top;
}

.pimg3{
  background-image: url('../images/architecture/Section\ -\ Perspective.jpg');
}

.pimg4{
  background-image: url('../images/old/hubble-03.jpg');
}

.pimg5{
  background-image: url('../images/coding/pexels-photo-169573.jpeg');
}

.pimg6{
  background-image: url('../images/contact-me/IMG_20190413_162300.jpg');
}

.pimg7{
  background-image: url('../images/IMG-20190506-WA0006.jpg');
}

.section{
  text-align: center;
  padding: 50px 80px;
}

.section-light{
  background-color: #f4f4f4;
  color: #666;
}

.section-dark{
  background-color: #282e34;
  color: #ddd;
}

.ptext{
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
  z-index: 2;
}

.ptext .border{
  background-color: rgba(40, 46, 52, 0.70);
  color: #fff;
  padding: 20px;
  z-index: 1;
}

.ptext .border.trans{
  background-color: transparent;
}

 /*
     Nav-bar
     */


#navbar{
    display: block;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #282e34;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

h5 {
  margin-bottom: 0rem;
  padding: 0px 50px;
  font-size: medium;
}

.logo{
  display: inline-block
}

.logo a{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo a:hover{
  text-decoration: none;
  color: red;
}

.nav-links{
    display: flex;
    float: right;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    margin: 0;
}

.nav-links li{
    list-style: none;
}

.header-text{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:10px;
    padding: 5px;
}

.nav-links a:hover{
  color: red;
  text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

nav .nav-active{
  transform: none;    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Welcome */

.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center scroll;
  background-size: cover;
  background-attachment: fixed;
}

#carousel-img1{
  background-image: url(../images/welcome-carousel/DSC_0261.JPG);
}

#carousel-img2{
  background-image: url(../images/welcome-carousel/us.jpg);
}

#carousel-img3{
  background-image: url(../images/welcome-carousel/81606594_10156523291225064_6816703669640101888_o.jpg);
}

.carousel-background-color{
  width: 100%;
  height: 100%;
  background: #282e34;
  position: absolute;
  z-index: 0;
}

.carousel-overlay-initial{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  position: absolute;
  z-index: 2;
  transition: all 1.5s ease-in-out;
}

.carousel-overlay-regular{
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  position: absolute;
  z-index: 2;
}

h1{
  position: absolute;
  text-align: center;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 6px;
  width: 100%;
  top: 40%;
  z-index: 3;
  opacity: 0;
  transition: all 2s ease-in;
  transition-delay: 1.5s;
}

header p{
  position: absolute;
  text-align: center;
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  width: 100%;
  top: 55%;
  z-index: 3;
  opacity: 0;
  transition: all 2s ease-in;
  transition-delay: 2.5s;
}

/* About-Me Section */

.text-hidden{
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(15px);
  transition: 1s all ease-in;
}

.text-hidden-from-below{
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transform: translateY(-15px);
  transition: 1s all ease-in;
}

.text-active{
  opacity: 1;
  transform: none;
}

.welcome-inline{
  display: inline-block;
  margin: auto;
}

.welcome-img-hidden{
  object-fit: cover;
  width: 350px;
  height: 350px;
  padding: 25px;
  transform: translateX(-100vw);
  transition: all ease-out;
  transition-duration: 1.5s;
}

.welcome-img-inter{
  transform: translateX(.5vw)
}

.welcome-img-active{
  transition-duration: .5s;
  transform: none;
}

.welcome-img-top{
  object-position: 0 0;
}

.welcome-img-active:hover{
  opacity: 0.5;
  transition: all .5s ease-in-out;
  transform: scale(1.02);
  cursor: pointer;
}

/* Hobbies Section */

.hobbies-img-hidden{
  position: relative;
  object-fit: cover;
  height: 95%;
  width: 95%;
  padding: 0px;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%); 
  transition: all 1s ease-out;
}

.hobbies-img-active{
  height: 99%;
  width: 99%;
  max-height: 50vw;
  opacity: 1;
}

.hobbies-img-active:hover{
  opacity: 0.5;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.left-justified{
  text-align: left;
}

.padding-left-right-30{
  padding: 0px 30px;
}

.padding-bottom-30{
  padding-bottom: 30px;
}

#hobbies-unordered-list{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  list-style-position:inside;
  padding-left: 0px;
  list-style-type: none;
}

.hobbies-list-item-hidden{
  padding: .5vw 0vw .5vw 8vw;
  background-position: 0 0;
  background-size: 5vw;
  background-position-y: 2vw;
  background-repeat: no-repeat;
  transform: translateX(100vw);
  transition: 1.5s all ease-out;
}

.hobbies-list-item-inter{
  transform: translateX(-1vw);
}

.hobbies-list-item-active{
    transition: .5s;
    transform: none;
}

h4 .h4-responsive{
  font-size: 2vw;
}

li p {
  font-size: 1vw;
}

#hobbies-frisbee{
  background-image: url(../images/hobbies-section/icon1-01.png);
}

#hobbies-frisbee:hover{
  background-image: url(../images/hobbies-section/icon1-hover-01.png);
}

#hobbies-photography{
  background-image: url(../images/hobbies-section/icon2-01.png);
}

#hobbies-photography:hover{
  background-image: url(../images/hobbies-section/icon2-hover-01.png);
}

#hobbies-running{
  background-image: url(../images/hobbies-section/icon3-01.png);
}

#hobbies-running:hover{
  background-image: url(../images/hobbies-section/icon3-hover-01.png);
}

#hobbies-adventure-sports{
  background-image: url(../images/hobbies-section/icon4-01.png);
}

#hobbies-adventure-sports:hover{
  background-image: url(../images/hobbies-section/icon4-hover-01.png);
}

.hobbies-popup-splatter{
  clip-path: circle(0);
}

.hobbies-popup-splatter img{
  opacity: 0;
  position: fixed;
  transform: translate(-50%, -50%);
  transition: all 1s ease-out;
  z-index: 100;
}

#hobbies-popup-splatter-01{
  top: 70%;
  left: 30%;
}

#hobbies-popup-splatter-02{
  top: 90%;
  left: 70%;
}

#hobbies-popup-splatter-03{
  top: 30%;
  left: 15%;
}

#hobbies-popup-splatter-04{
  top: 10%;
  left: 80%;
}

#hobbies-popup-splatter-05{
  top: 50%;
  left: 50%;
}

#hobbies-popup-splatter-06{
  top: 85%;
  left: 10%;
}

#hobbies-popup-splatter-07{
  top: 10%;
  left: 50%;
}

#hobbies-popup-splatter-08{
  top: 80%;
  left: 90%;
}

.hobbies-popup-black{
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 101;
  width: 100vw;
  height: 100vh;
  background-color: black;
  transition: all 1s ease-out;
}

.exit{
  opacity: 0;
  cursor: pointer;
  margin: 0;
  position: fixed;
  top: 4%;
  right: 4.5%;
  transform: translateY(-50%);
  z-index: 102;
  transition: all 1s ease-out;
}

.exit div{
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
}

.exit-line1{
  transform: rotate(-45deg) translate(-5px, 0px);
}

.exit-line2{
  transform: rotate(45deg) translate(-5px, 0px);
}

.hobbies-popup-img{
  transform: translateY(-21vw);
  clip-path: circle(0);
  position: fixed;
  left: 5%;
  top: 50%;
  width: 90vw;
  height: 42vw;
  z-index: 102;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hobbies-popup-img-line{
  margin: auto;
}

.hobbies-popup-img-line img{
  opacity: 0;
  object-fit: cover;
  width: 18vw;
  height: 13vw;
  padding: 1vw;
  transition: all 1s ease-out;
}

.hobbies-popup-img-line img:hover{
  opacity: 0.5;
  transition: all 0.5s ease-in;
  transform: scale(1.02);
}

.toggleClipPath {
  clip-path: none;
}

.hobbies-popup-splatter .toggleOpacity{
  opacity: 1;
}

.hobbies-popup-img-line .toggleOpacity{
  opacity: 1;
}

/* Architecture Section */

.architecture-img-large-hidden{
  object-fit: cover;
  width: 100%;
  height: 30vw;
  padding: 5px;
  transform: translateX(100vw);
  transition: all ease-out;
  transition-duration: 1.5s;
}

.architecture-img-large-inter{
  transform: translateX(-.5vw)
}

.architecture-img-large-active{
  transition-duration: .5s;
  transform: none;
}

.architecture-img-large-active:hover{
  opacity: 0.5;
  transition: all 0.5s ease-in;
  transform: scale(1.01);
}

.architecture-row-small{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.architecture-img-small-hidden{
  object-fit: cover;
  width: 20%;
  height: 10vw;
  padding: 5px;
  transform: translateX(100vw);
  transition: all ease-out;
  transition-duration: 1.5s;
}

.architecture-img-small-inter{
  transform: translateX(-.5vw)
}

.architecture-img-small-active{
  transition-duration: .5s;
  transform: none;
}

.architecture-img-small-active:hover{
  opacity: 0.5;
  transition: all 0.5s ease-in;
  transform: scale(1.02);
  cursor: pointer;
}

.architecture-title{
  margin-left: 0;
  height: 3em;
}

.padding-right-30{
  padding-right: 30px
}

/* Programming */

.padding-bottom-10{
  padding-bottom: 10px;
}

.padding-top-20{
  padding-top: 20px;
}

.coding-list{
  list-style-type: none;
}

.coding-list li a{
  color: #282e34;
}

.coding-list li a:hover{
  text-decoration: none;
  color: red;
}

.vl {
  border-left: 3px solid #282e34;
  height: 0px;
  position: absolute;
  top: 0%;
  transition: all ease-out;
  transition-duration: 1.5s;
}

.vl-left{
  left: 0%
}

.vl-right{
  right: 0%;
}

.hl{
  border-bottom: 3px solid #282e34;
  width: 0px;
  position: relative;
  transition: all ease-out;
  transition-duration: 1.5s;
}

.hl-display-none{
  display: none;
}

.icons-coding {
  font-size: 250%;
}

.daily-blog {
  background-color: rgba(40, 46, 52, 1);
  color: #ddd;
  opacity: 0;
}

.display-4{
  font-size: 2.5rem;
}

.jumbotron p a{
  color: rgb(226, 226, 226);
}

.link-red a:hover{
  text-decoration: none;
  color: red;
}

#this-website{
  color:#282e34;
}

/* Contact Me */

.contact-me{
  opacity: 0;
}

.width-100{
  width:100%
}

.padding-left-15{
  padding-left:15px;
}

.padding-left-50{
  padding-left:50px;
}

.icon-map{
  width: 3vw;
  height: 3vw;
}

.icon-phone{
  width: 3vw;
  height: 3vw;
}

.icon-envelope{
  width: 3vw;
  height: 3vw;
}

.md-form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  font-size: 14px;
  width: 100%
}

input[type=text]:focus{
  outline: 1px solid white;
}

input[type=email]:focus{
  outline: 1px solid white;
}

textarea[type=text]:focus{
  outline: 1px solid white;
}

.height-36{
  height: 36px;
}

.height-72{
  height: 72px;
}

.height-144{
  height: 80px;
}

label, textarea{
  vertical-align: middle;
}

.btn-primary{
  background-color: transparent;
  border: 1px solid #9e9e9e;
}

.btn-primary:hover{
  background-color: #9e9e9e;
  border: 1px solid #9e9e9e;
}

.btn-primary:focus{
  background-color: #3e3e3e !important;
  border: 1px solid #9e9e9e !important;
  outline: none;
  box-shadow: none !important;
}

.btn-primary:active{
  background-color: #9e9e9e !important;
  border: 1px solid #9e9e9e !important;
  outline: none;
  box-shadow: none !important;
}

input {
  color: #fff;
}

textarea {
  color: #fff;
  }

.paragraph-50{
  font-size: 80%;
}

/* Footer*/

#footer {
  height: 8vh;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-footer a{
  color: rgb(226, 226, 226);
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
}

.logo-footer a:hover{
  text-decoration: none;
  color: red;
}

/* Media Queries */

@media screen and (max-width: 1441px){
  .nav-links a{
      letter-spacing: 2px;
  }
}

@media screen and (max-width: 1025px){
  .nav-links{
      position: absolute;
      right: 0px;
      top: 8vh;
      height: 92vh;
      background-color: #282e34;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      transform: translateX(100%);
      transition: transform ease-in;
      transition-duration: 0s;
  }

  .section{
    padding: 30px 48px;
  }

  .nav-links li{
      opacity: 0;
  }

  .burger{
      display: block;
  }
}

@media screen and (max-width: 991px){
  .hobbies-list-item-hidden{
    padding: 3vw 0vw 1vw 12vw;
    background-position: 0 0;
    background-size: 8vw;
    background-position-y: 3vw;
  }
  .hobbies-h4-reduce{
    font-size: 3vw;
  }
  .hobbies-p-reduce {
    font-size: 1.5vw;
  }
  .h4-reduce{
    font-size: 3vw;
  }
}


@media screen and (max-width: 575px){
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7{
      background-attachment: scroll
  }
  .section{
    padding: 20px 32px;
  }
  header p{
    font-size: 70%;
  }
  .welcome-img-hidden{
    width: 250px;
    height: 250px;
  }
  .h4-reduce{
    font-size: 4vw;
  }
  .h5-reduce{
    font-size: 3vw;
  }
  .vl {
    display: none;
  }
  .hl-display-none{
    display: block;
  }
}

@keyframes navLinkFade{
  from{
      opacity: 0;
      transform: translateX(50px);
  }
  to{
      opacity: 1;
      transform: translate(0px);
  }
}
