 /*
Nav-bar
*/


#navbar{
display: block;
justify-content: space-around;
align-items: center;
min-height: 8vh;
background-color: #282e34;
font-family: 'Poppins', sans-serif;
position: fixed;
top: 0;
width: 100%;
z-index: 99;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

h5 {
    margin-bottom: 0rem;
    padding: 0px 50px;
    font-size: medium;
}

.logo{
    display: inline-block
}

.logo a{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.logo a:hover{
    text-decoration: none;
    color: red;
}

.nav-links{
    display: flex;
    float: right;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    margin: 0;
}

.nav-links li{
    list-style: none;
}

.header-text{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size:10px;
    padding: 5px;
}

.nav-links a:hover{
    color: red;
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
}

nav .nav-active{
    transform: none;    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}