
/* Programming */

.coding-list{
  list-style-type: none;
}

.coding-list li a:hover{
  text-decoration: none;
  color: rgba(255,0,0,1);
}

.vl {
  border-left: 3px solid #282e34;
  height: 0px;
  top: 0%;
  transition: all ease-out;
  transition-duration: 1.5s;
}

.vl-left{
  left: 0%
}

.vl-right{
  right: 0%;
}

.hl{
  border-bottom: 3px solid #282e34;
  width: 0px;
  transition: all ease-out;
  transition-duration: 1.5s;
}

.hl-display-none{
  display: none
}

.icons-coding {
  font-size: 250%;
}

.daily-blog {
  opacity: 0;
}

.link-red a:hover{
  text-decoration: none;
  color: red;
}