
/* Welcome */

.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center scroll;
    background-size: cover;
    background-attachment: fixed;
  }
  
  #carousel-img1{
    background-image: url(../images/welcome-carousel/DSC_0261.JPG);
  }
  
  #carousel-img2{
    background-image: url(../images/welcome-carousel/us.jpg);
  }
  
  #carousel-img3{
    background-image: url(../images/welcome-carousel/81606594_10156523291225064_6816703669640101888_o.jpg);
  }
  
  .carousel-background-color{
    width: 100%;
    height: 100%;
    background: #282e34;
    position: absolute;
    z-index: 0;
  }
  
  .carousel-overlay-initial{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    position: absolute;
    z-index: 2;
    transition: all 1.5s ease-in-out;
  }
  
  .carousel-overlay-regular{
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
  }
  
  h1{
    position: absolute;
    text-align: center;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 6px;
    width: 100%;
    top: 40%;
    z-index: 3;
    opacity: 0;
    transition: all 2s ease-in;
    transition-delay: 1.5s;
  }
  
  header p{
    position: absolute;
    text-align: center;
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 100%;
    top: 55%;
    z-index: 3;
    opacity: 0;
    transition: all 2s ease-in;
    transition-delay: 2.5s;
  }