 
 /* Nav-bar */

#navbar{
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    top: 0;
    width: 100%;
    z-index: 3;
}

.nav-title {
    font-size: medium;
}

.logo{
    letter-spacing: 5px;
    top: 50%;
    transform: translateY(-50%);
}

.logo:hover{
    text-decoration: none;
    color: rgba(255,0,0,1);
}

.nav-links{
    display: flex;
    float: right;
    width: 70%;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
}

.nav-links li{
    list-style: none;
}

.header-text{
    letter-spacing: 3px;
    font-size:10px;
    padding: 5px;
}

.nav-links a:hover{
    color: rgba(255,0,0,1);
    text-decoration: none;
}

.burger{
    display: none;
    cursor: pointer;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.burger div{
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

nav .nav-active{
    transform: none;    
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}